.action-board-outer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 1200px;
    vertical-align: middle;
    background: rgba(0, 0, 0, 0.9);
}

.opacity{
    background-image: url("../../Assets/sauron.png");
    background-size: cover;
    height: 1200px;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: scroll;
}

.action-board-inner{
    display: flex;
    flex-direction: row;
    flex-shrink: 1;
    justify-content: space-around;
    align-items:center;
    flex-basis: 1400px;

}

.action-board-text, .tribes-text, .team-text{
    width: 600px;
    /*padding: 50px;*/
}

.action-board-text h2, tribes-text h2, .team-text h2{
    font-size: 28px;
}

.action-board-text h3, .team-text h3{
    font-size: 17px;
    color: lightblue;
}



.action-board{
    height: 700px;
}

@media (min-width: 100px) and (max-width: 600px) {

    .action-board-inner{

    }
    .action-board-text{

    }
    .action-board{
        height: 200px;
    }
    .action-board-text h2{
        font-size: 10px;
    }

    .action-board-text h3{
        font-size: 8px;
    }
}