.background-actionboard, .background-tribes, .background-team{
    background-image: url("../../Assets/sauron.png");
    background-size: cover;
    height: 1200px;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: scroll;
    flex-shrink: 1;
}

.background-tribes{
    background-image: url("../../Assets/background-tribes.png");
}

.background-team{
    background-image: url("../../Assets/male_female.png");
}

.outer-actionboard, .outer-tribes, .outer-team{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 1200px;
    vertical-align: middle;
    background: rgba(0, 0, 0, 0.9);
}

.outer-tribes{
    background:rgba(255, 255, 255, 0.4);
}

.inner-actionboard, .inner-tribes, .inner-team{
    display: flex;
    flex-direction: row;
    flex-shrink: 1;
    justify-content: space-around;
    align-items:center;
    flex-basis: 1400px;
}

.action-board-text, .tribes-text, .team-text{
    width: 600px;
}

.img-container, .team-images. .action-board-img-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-basis: 791px;
    align-content: flex-start;
    gap: 0;
}

.img-container, .team-images {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-basis: 791px;
    align-content: flex-start;
    gap: 0;

}
.team-images, .action-board-img-container {
    flex-basis: 599px;
    height: 500px;
    justify-content: center;
}

.team-images img{
    padding: 10px;
}

img{
    height: 200px;
}

@media (min-width: 100px) and (max-width: 600px) {

    .background-actionboard, .background-tribes, .background-team{
        height: 600px;
    }

    .outer-actionboard, .outer-tribes, .outer-team{
        border-style: groove;
        border-color: green;
        border-width: 10px;
        height: 600px;
    }

    .inner-actionboard, .inner-tribes, .inner-team{
        border-color: red;
        border-width: 10px;
        /*height: 600px;*/
    }

    .action-board-text, .tribes-text, .team-text{
        border-style: groove;
        border-color: red;
        border-width: 10px;
        width: 200px;
        /*padding: 50px;*/
    }

    .img-container, .team-images{

    }
    img{
        height: 100px;
    }

    .action-board{
        height: 100px;
    }
}


